<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Task 5</title>
</head>

<body>
    <p>Fill in the number in the 4x4 sudoku in the bottom right corner</p>

    <a href="https://imgbb.com/"><img src="https://i.ibb.co/8MmSZmK/Screenshot-2021-10-29-at-15-23-36.png"
            alt="Screenshot-2021-10-29-at-15-23-36" border="0"></a>
    <form method="post">
        <input type="number" name="num" value="" />
        <input type="submit">
    </form>

    <p>Task: {{ result }}</p>

</body>

</html>