<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Task 10</title>
</head>

<body>
    <p>Solve this puzzle.</p>

    <a href="https://ibb.co/Rg360yx"><img src="https://i.ibb.co/10rXq6D/Screenshot-2021-10-29-at-16-01-54.png"
            alt="Screenshot-2021-10-29-at-16-01-54" border="0"></a>

    <form method="post">
        <input type="number" step="0.01" name="num" value="" />
        <input type="submit">
    </form>

    <p>Task: {{ result }}</p>

</body>

</html>