<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Task 9</title>
</head>

<body>
    <p>Welk liedje wordt hier uitgebeeld?</p>

    <a href="https://ibb.co/cxM5v2P"><img src="https://i.ibb.co/0Q8NXYk/Screenshot-2021-10-29-at-15-58-22.png"
            alt="Screenshot-2021-10-29-at-15-58-22" border="0"></a>

    <form method="post">
        <input type="string" name="name" value="" />
        <input type="submit">
    </form>

    <p>Task: {{ result }}</p>

</body>

</html>